<%- include('header'); -%>

<body>
    <!-- header -->
    <header>
      <div class="headercontainer rounded container d-flex flex-column justify-content-center">
        <img class="img-fluid align-self-center" src="images\title.png" alt="titlelogo" width="500" height="auto"></a>
        <div class="headerdescription align-self-center text-center">Melbourne's first and cuteset eyewear accessory
          fashion brand.</div>
        <div class="est align-self-center pt-2">EST.2024</div>
      </div>
      </div>
    </header>
    <!-- end header -->
  
    <body>
      <header>
        <div class="container">
          <h3>About</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida augue massa, vitae vestibulum augue
            commodo eget. Nam vitae vulputate leo, sit amet ullamcorper tortor. Etiam ut odio nisi. Fusce luctus tortor
            nec lorem volutpat, eget tempus mi hendrerit. Nullam pretium dolor eget tincidunt congue. Proin condimentum
            aliquet auctor. Morbi varius dictum interdum. In id commodo lacus. Aliquam at laoreet eros.
          </p>
          <p>
            Cras dignissim finibus felis, eu suscipit lorem porta aliquam. Praesent elementum enim lacus, ac molestie elit
            pretium eget. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
            Phasellus posuere tempus egestas. Sed porttitor consectetur faucibus. Nam laoreet eros vel sem egestas, non
            suscipit lectus fermentum. Maecenas eu augue sit amet dui mollis suscipit. Nam rutrum, urna cursus elementum
            convallis, ipsum justo ornare ante, id faucibus sem enim nec lectus. Aliquam dignissim velit pellentesque
            ipsum interdum, sit amet mattis dolor commodo. Fusce quam ante, ultricies a condimentum ut, viverra at diam.
            Morbi venenatis nisl a semper ultricies. Ut magna diam, elementum sed faucibus vitae, faucibus eu risus.
          </p>
          <hr>
        </div>
      </header>

<%- include('footer'); -%>