<%- include('header'); -%>
<div class="container">
    <h5 class="text-success"><%= title %></h5>
    <p> Congratulations, <%= name %> ! You have successfully signed up with CuteSpecs. Make sure to <strong>check your inbox</strong> for exclusive discounts, early access and more! Welcome to the family. </p>
    <a href="/">Click here to return to the home page</a>
</div>


<%- include('footer'); -%>